.ant-timeline.ant-timeline-label .ant-timeline-item-head {
  margin-left: -10px;
}
.TimeLineItem {
  padding-bottom: 0;
}
.TimeLineItem h2 {
  font-size: 30px;
  text-align: center;
}
.TimeLineItem p {
  font-size: 14px;
  text-align: justify;
}
.TimeLineItem .contentBx {
  padding: 20px;
}
.TimeLineItem .ant-timeline-item-head {
  top: 50%;
  width: 20px;
  height: 20px;
}
.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  font-size: 20px;
  top: calc(50% - 5px);
  padding: 0 20px;
}
.ant-timeline-item-tail {
  height: 100%;
  top: 0;
}
.ant-timeline-item-last > .ant-timeline-item-tail {
  display: block;
}
